# <center> Assignment #1
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. **

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('adult.data.csv')

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

เป็นการหาจำนวนทั้งหมดของคอลัมป์ sex ว่ามีเพศชาย เพศหญิงจำนวนเท่าไหร่ ซึ่งจากการทราบจำนวนแล้วก็หาว่ามีการใช้ datatype ประเภทไหน

**2. What is the average age (*age* feature) of women?**

In [6]:
data.loc[data.sex == 'Female','age'].mean()

36.85823043357163

ค่าเฉลี่ยหาได้จาก mean()

**3. What is the percentage of German citizens (*native-country* feature)?**

In [12]:
float((data['native-country'] == 'Germany').sum()) / data.shape[0]

0.004207487485028101

หาผมรวมของ native-country ที่เป็นเยอรมันนีแล้วหารด้วยจำนวนทั้งหมด

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [9]:
data.loc[data.salary == '>50K', 'age'].mean()

44.24984058155847

จะเห็นได้ว่าคนรายได้สูงมีอายุเฉลี่ยอยู่ที่ **44.24984058155847**

In [6]:
data.loc[data.salary == '>50K', 'age'].std()

10.519027719851826

จะเห็นได้ว่าคนรายได้สูงมีค่า Standard Deviation อยู่ที่ **10.5190277198851826**

In [5]:
data.loc[data.salary == '<=50K', 'age'].mean()

36.78373786407767

จะเห็นได้จากการใช้ function loc เลือกข้อมูลจาก salary มาแล้วใช้ age จะเห็นได้ว่าคนรายได้สูงมีอายุเฉลี่ยอยู่ที่ 36.78373786407767

In [6]:
data.loc[data.salary == '<=50K', 'age'].std()

14.02008849082488

จะเห็นได้ว่าคนรายได้สูงมีค่า Standard Deviation อยู่ที่ 14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
data.loc[data.salary == '>50K','education']

7             HS-grad
8             Masters
9           Bachelors
10       Some-college
11          Bachelors
             ...
32539       Doctorate
32545      Assoc-acdm
32554         Masters
32557         HS-grad
32560         HS-grad
Name: education, Length: 7841, dtype: object

No!!!!
ไม่จำเป็นที่คนที่มีการศึกษาระดับมัธยมศึกษาตอนปลายเป็นอย่างน้อยจะมีเงินเดือน >50K เสมอ

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
data.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

อายุมากสุดของผู้ชาย Amer-Indian-Eskimo คือ 82 ปี

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [21]:
married = data.loc[(data['sex'] == 'Male') & (data['marital-status'].str.startswith('Married')), 'salary'
        ].value_counts()
married

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [22]:
single_men = data.loc[(data['sex'] == 'Male') & (~data['marital-status'].str.startswith('Married')), 'salary'].value_counts()
single_men

<=50K    7552
>50K      697
Name: salary, dtype: int64

จะเห็นได้ว่าคนที่แต่งงานแล้วมีรายได้มากกว่า 50K จะอยู่ที่ 5,965 คน ส่วนคนที่ยังโสดอยู่มีเพียง 697 คน 
**จึงสรุปได้ว่าคนที่แต่งงานแล้วมีคนมี่รายได้เยอะมากกว่า**

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [5]:
max_work = data['hours-per-week'].max()
max_work

99

จำนวนชั่วโมงสูงสุดอยู่ที่ 99

In [6]:
work_num = data[data['hours-per-week'] == max_work].shape[0]
work_num

85

ส่วนชั่วโมงต่อสัปดาห์เฉลี่ยจะอยู่ที่ 85

In [7]:
percen = data[data['salary'] == '>50K']['hours-per-week'] == max_work
(percen.sum() / work_num) * 100

29.411764705882355

จากการหาเปอร์เซ็นต์ของผู้ที่มีรายได้มาก >50K คือ 29 %

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [9]:
rich_mean = data.loc[data.salary == '>50K'].groupby('native-country').mean()
rich_mean['hours-per-week']

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

In [11]:
poor_mean = data.loc[data.salary == '<=50K'].groupby('native-country').mean()
poor_mean['hours-per-week']

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

**จะเห็นได้ว่าคนที่มีรายได้สูงจะมีชั่วโมงในการทำงานที่สูงกว่า**

In [14]:
data.loc[data['native-country'] == 'Japan']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
1020,41,Private,198316,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,50,Japan,<=50K
1119,53,Private,288020,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Japan,<=50K
1301,29,Private,419721,HS-grad,9,Never-married,Other-service,Unmarried,Black,Female,0,0,40,Japan,<=50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K
1756,47,Self-emp-not-inc,162924,Bachelors,13,Divorced,Exec-managerial,Not-in-family,Asian-Pac-Islander,Male,0,0,60,Japan,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31757,34,Private,143582,Some-college,10,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,0,0,35,Japan,<=50K
31830,33,Private,72338,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,65,Japan,>50K
32075,27,?,147638,Masters,14,Never-married,?,Not-in-family,Other,Female,0,0,40,Japan,<=50K
32376,40,Private,306225,HS-grad,9,Divorced,Craft-repair,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Japan,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K

Japan มีผู้มีรายได้น้อยเฉลี่ยร้อยละ 41.0 และผู้มีรายได้มากร้อยละ 47.96